In [1]:
import pandas as pd
import numpy as np

import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
plt.style.use("seaborn-whitegrid")

C:\Users\Benny Boi\AppData\Local\Temp\ipykernel_3224\3963306264.py:1: MatplotlibDeprecationWarning: The seaborn styles shipped by Matplotlib are deprecated since 3.6, as they no longer correspond to the styles shipped by seaborn. However, they will remain available as 'seaborn-v0_8-<style>'. Alternatively, directly use the seaborn API instead.
  plt.style.use("seaborn-whitegrid")

In [3]:
pd.options.display.max_columns = 500
pd.options.display.max_rows = 4000

# Retail Dataset

### Data holds the basic information about sales data. The company have sales agencies / resellers and branches and the data file holds only the branch/reseller information in the customer field.

    -InvoiceID : ID of the transaction. A transaction might hold multiple records for the same customer at the same date with multiple products (SKU). DocumentID might be useful for combining the transactions and detecting the items sold together.
    -Date : Date of transaction / sell. In the date time format.
    -ProductID : Item / Product code. The unique code for each item sold.
    -TotalSales : Sales price for the transaction. If you want to get unit_price , divide TotalSales column to Quantity column
    -Discount : Discount amount for the transaction.
    -CustomerID : Unique customer id for each customer. For the data set, customer can be a reseller or a branch of the company.
    -Quantity : Number of items sold in the transaction.

<br><b>How to Use Data Set ?</br></b>
Some of the potential questions from the data might be listed as below, please add more to discussion if you have any idea:

<br><b>What is the optimum price for each item?</br></b>

    -Demand prediction for each item on next months.
    -Customer Lifetime Value for each Customer.
    -Customer Segmentation (an easy approach of RFM or more complex segmentations)
    -Customer <> Product Recommendation (what are the best products for the customers).

In [5]:
retail = pd.read_csv(r"C:\Users\Benny Boi\Repositories\Medoci\data\kaggle\competitions\clv_retail\retail.csv")

## Data cleaning

In [7]:
retail.shape

(29103, 8)

In [8]:
retail.columns

Index(['Unnamed: 0', 'InvoiceID', 'Date', 'ProductID', 'TotalSales',
       'Discount', 'CustomerID', 'Quantity'],
      dtype='object')

In [6]:
retail.head()

,Unnamed: 0,InvoiceID,Date,ProductID,TotalSales,Discount,CustomerID,Quantity
0,0,328,2019-12-27,1684,796.610169,143.389831,185,4
1,1,329,2019-12-27,524,355.932203,64.067797,185,2
2,2,330,2019-12-27,192,901.694915,162.305085,230,4
3,3,330,2019-12-27,218,182.754237,32.895763,230,1
4,4,330,2019-12-27,247,780.101695,140.418305,230,4

In [12]:
retail = retail[['InvoiceID', 'Date', 'ProductID', 'TotalSales',
       'Discount', 'CustomerID', 'Quantity']]

In [13]:
retail['Day'] = pd.to_datetime(retail['Date'],  yearfirst=True)
retail[['CustomerID', 'ProductID', 'InvoiceID']] = retail[['CustomerID', 'ProductID', 'InvoiceID']].astype(str)

In [14]:
retail.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29103 entries, 0 to 29102
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   InvoiceID   29103 non-null  object
 1   Date        29103 non-null  object
 2   ProductID   29103 non-null  object
 3   TotalSales  29103 non-null  float64
 4   Discount    29103 non-null  float64
 5   CustomerID  29103 non-null  object
 6   Quantity    29103 non-null  int64
 7   Day         29103 non-null  datetime64[ns]
dtypes: datetime64[ns](1), float64(2), int64(1), object(4)
memory usage: 1.8+ MB

In [15]:
number_of_missing_df = retail.isnull().sum().sort_values(ascending = False)
percent_of_missing_df = ((retail.isnull().sum() / retail.isnull().count())*100).sort_values(ascending = False)

In [16]:
missing_df = pd.concat([number_of_missing_df,
                        percent_of_missing_df],
                        keys = ["total number of missing data", 'total percent of missing data'],
                        axis = 1)
missing_df.head(20)

            total number of missing data  total percent of missing data
InvoiceID                              0                            0.0
Date                                   0                            0.0
ProductID                              0                            0.0
TotalSales                             0                            0.0
Discount                               0                            0.0
CustomerID                             0                            0.0
Quantity                               0                            0.0
Day                                    0                            0.0

In [17]:
retail.describe().T.style.background_gradient(cmap= 'magma')

In [18]:
retail.head()

,InvoiceID,Date,ProductID,TotalSales,Discount,CustomerID,Quantity,Day
0,328,2019-12-27,1684,796.610169,143.389831,185,4,2019-12-27
1,329,2019-12-27,524,355.932203,64.067797,185,2,2019-12-27
2,330,2019-12-27,192,901.694915,162.305085,230,4,2019-12-27
3,330,2019-12-27,218,182.754237,32.895763,230,1,2019-12-27
4,330,2019-12-27,247,780.101695,140.418305,230,4,2019-12-27

In [23]:
retail.InvoiceID.value_counts()

8716     53
8176     34
7861     34
8213     33
8405     31
         ..
4496      1
4497      1
4498      1
4499      1
13617     1
Name: InvoiceID, Length: 14079, dtype: int64

In [30]:
retail.query("InvoiceID == '8716'")

,InvoiceID,Date,ProductID,TotalSales,Discount,CustomerID,Quantity,Day
14316,8716,2020-06-19,252,935.593220,168.406780,230,4,2020-06-19
14317,8716,2020-06-19,1857,1233.898305,222.101695,230,4,2020-06-19
14318,8716,2020-06-19,251,366.101695,65.898305,230,2,2020-06-19
14319,8716,2020-06-19,995,420.338983,75.661017,230,2,2020-06-19
14320,8716,2020-06-19,1341,332.203390,59.796610,230,2,2020-06-19
14321,8716,2020-06-19,221,745.762712,134.237288,230,4,2020-06-19
14322,8716,2020-06-19,1756,561.355932,101.044068,230,2,2020-06-19
14323,8716,2020-06-19,1578,488.135593,87.864407,230,2,2020-06-19
14324,8716,2020-06-19,217,854.237288,153.762712,230,2,2020-06-19
14325,8716,2020-06-19,1756,1122.711864,202.088136,230,4,2020-06-19
14326,8716,2020-06-19,576,881.355932,158.644068,230,4,2020-06-19
14327,8716,2020-06-19,486,949.152542,170.847458,230,4,2020-06-19
14328,8716,2020-06-19,885,1562.033898,281.166102,230,8,2020-06-19
14329,8716,2020-06-19,486,949.152542,170.847458,230,4,2020-06-19
14330,8716,2020-06-19,164,729.491525,131.308475,230,4,2020-06-19
14331,8716,2020-06-19,1756,561.355932,101.044068,230,2,2020-06-19
14332,8716,2020-06-19,221,745.762712,134.237288,230,4,2020-06-19
14333,8716,2020-06-19,565,223.050847,40.149153,230,1,2020-06-19
14334,8716,2020-06-19,1419,2486.779661,447.620339,230,4,2020-06-19
14335,8716,2020-06-19,524,715.932203,128.867797,230,4,2020-06-19
14336,8716,2020-06-19,151,259.661017,46.738983,230,1,2020-06-19
14337,8716,2020-06-19,1402,1844.067797,331.932203,230,4,2020-06-19
14338,8716,2020-06-19,1329,764.745763,137.654237,230,2,2020-06-19
14339,8716,2020-06-19,486,474.576271,85.423729,230,2,2020-06-19
14340,8716,2020-06-19,151,1038.644068,186.955932,230,4,2020-06-19
14341,8716,2020-06-19,1756,4490.847458,808.352542,230,16,2020-06-19
14342,8716,2020-06-19,1756,3368.135593,606.264407,230,12,2020-06-19
14343,8716,2020-06-19,1745,1749.152542,314.847458,230,2,2020-06-19
14344,8716,2020-06-19,270,840.677966,151.322034,230,4,2020-06-19
14345,8716,2020-06-19,754,1491.525424,268.474576,230,4,2020-06-19
14346,8716,2020-06-19,1756,1122.711864,202.088136,230,4,2020-06-19
14347,8716,2020-06-19,217,427.118644,76.881356,230,1,2020-06-19
14348,8716,2020-06-19,1436,664.406780,119.593220,230,2,2020-06-19
14349,8716,2020-06-19,885,781.016949,140.583051,230,4,2020-06-19
14350,8716,2020-06-19,754,1491.525424,268.474576,230,4,2020-06-19
14351,8716,2020-06-19,1502,528.813559,95.186441,230,4,2020-06-19
14352,8716,2020-06-19,486,949.152542,170.847458,230,4,2020-06-19
14353,8716,2020-06-19,873,542.372881,97.627119,230,2,2020-06-19
14354,8716,2020-06-19,1341,664.406780,119.593220,230,4,2020-06-19
14355,8716,2020-06-19,70,440.677966,79.322034,230,2,2020-06-19
14356,8716,2020-06-19,192,935.593220,168.406780,230,4,2020-06-19
14357,8716,2020-06-19,126,291.525424,52.474576,230,1,2020-06-19
14358,8716,2020-06-19,243,610.169492,109.830508,230,4,2020-06-19
14359,8716,2020-06-19,248,406.779661,73.220339,230,2,2020-06-19
14360,8716,2020-06-19,218,332.203390,59.796610,230,2,2020-06-19
14361,8716,2020-06-19,1456,565.423729,101.776271,230,2,2020-06-19
14362,8716,2020-06-19,1756,4490.847458,808.352542,230,16,2020-06-19
14363,8716,2020-06-19,1894,501.694915,90.305085,230,2,2020-06-19
14364,8716,2020-06-19,1756,1122.711864,202.088136,230,4,2020-06-19
14365,8716,2020-06-19,475,772.881356,139.118644,230,2,2020-06-19
14366,8716,2020-06-19,155,672.542373,121.057627,230,2,2020-06-19
17006,8716,2021-07-27,1756,2457.627119,442.372881,336,5,2021-07-27
24721,8716,2022-09-07,778,4427.966102,797.033898,183,2,2022-09-07